<html lang="RU_ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Универсальная система авторизации</title>
</head>

<body>
    <section class="hero is-primary if-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="conainer">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">На главную</a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">Профиль</a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item">Войти</a>
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">Зарегистрироваться</a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">Выйти</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centred">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </section>
</body>

</html>