{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Универсальная система авторизации.
</h1>
<h2 class="subtitle">
    Данное приложение выполнено для демонстрации возможностей модуля авторизации Flask.
</h2>
{% endblock content %}