{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Войти</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}
        <form action="/login_post" method="post">
            <div class="field">
                <div class="control">
                    <input type="email" class="input is-large" name="email" placeholder="example@email.com" autofocus>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="password" class="input is-large" name="password" placeholder="secret">
                </div>
            </div>
            <div class="field">
                <label class="cehckbox">
                    <input type="checkbox" name="remember">
                    Запомнить меня
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Войти</button>
        </form>
    </div>
</div>
{% endblock content %}