{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Зарегистрироваться</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Попробуйте <a href="{{ url_for('auth.login') }}">авторизоваться</a>.
        </div>
        {% endif %}
        {% endwith %}
        <form action="/signup_post" method="post">
            <div class="field">
                <div class="control">
                    <input type="email" class="input is-large" name="email" placeholder="example@email.com" autofocus>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" class="input is-large" name="username" placeholder="ivanovii" autofocus>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="password" class="input is-large" name="password" placeholder="secret">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock content %}